.container-header {
  width: 100vw;
  position: fixed;
  top: 1rem;
  left: 2rem;
}
.main-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.menu-section {
    width: 45%;
  text-decoration: none;
  list-style: none;
  display: flex;
  margin: 0 auto;
}
.menu-section-left {
  width: 20%;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: end;
}

li > a {
margin-left: 1.5rem;
    font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.3rem;
}

.logo-section {
  width: 25%;
  text-align: left;
}
 @media only screen and (max-width:1200px) {
     .menu-section , .menu-section-left{
         display: none;
     }
 }

 .menu-section li a:hover{
   padding: 1;
   background-color: #E1E5EE;
   padding-top: 0.6rem;
   padding-bottom: 0.6rem;
   border-radius: 10px;
  transition: background-color 0.8s -0.1s ease-in-out;
 }
 .menu-section-left li a:hover{
  padding: 1;
  background-color: #E1E5EE;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 10px;
 transition: background-color 0.8s -0.1s ease-in-out;
}